{
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "babel"
    ],
    "env": {
        "browser": true,
        "es6": true
    },
    "ecmaFeatures": {
        "modules": true,
        "jsx": true
    },
    "globals": {
    },
    "extends": "eslint:recommended",
    "rules": {
        //Use babel/new-cap instead of new-cap for decorator support
        "babel/new-cap": 2,
        "new-cap": 0,

        "comma-dangle": [2, "always-multiline"],
        "curly": [ 2, "multi-line" ],
        "no-param-reassign": 2,
        "semi": [ 2, "always" ],
        "strict": [ 2, "global" ],
        "no-self-compare": 2,
        "indent": 2,
        "no-throw-literal": 2,
        "quotes": [ 2, "single" ],
        "linebreak-style": [ 2, "unix" ],
        "brace-style": [2, "1tbs", {"allowSingleLine": true}],
        "consistent-this": [2, "self"],
        "no-nested-ternary": 2,
        "no-var": 2,
        "react/jsx-uses-vars": 2,
        "quote-props": [2, "as-needed", { "keywords": true }],

        //Temporaily disable due to babel eslint bug
        "space-infix-ops": 0
    }
}
